<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h2>게시판</h2>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardCreatedAt}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
    </tbody>
</table>
<div>
    <button th:onclick="|location.href='@{/board/save}'|" style="margin-right: 10px;>글작성</button>
    <form action="/board/" method="get" style="display: inline;">
        <select name="searchType">
            <option value="boardTitle">제목</option>
            <option value="boardWriter">작성자</option>
        </select>
        <input type="text" name="keyword" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </form>
</div>
<div th:if="${boardList.totalPages > 0}">
    <a th:href="@{/board(page=1, searchType=${searchType}, keyword=${keyword})}">First</a>

    <a th:href="${boardList.first} ? '#' : @{/board(page=${boardList.number}, searchType=${searchType}, keyword=${keyword})}">prev</a>

    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page == boardList.number + 1}" th:text="${page}" style="font-weight: bold; color: red;"></span>
        <span th:unless="${page == boardList.number + 1}">
            <a th:href="@{/board(page=${page}, searchType=${searchType}, keyword=${keyword})}" th:text="${page}"></a>
        </span>
    </span>

    <a th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2}, searchType=${searchType}, keyword=${keyword})}">next</a>

    <a th:href="@{/board(page=${boardList.totalPages}, searchType=${searchType}, keyword=${keyword})}">Last</a>
</div>
</body>
</html>