<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paging List</title>
</head>
<body>
<h2>게시판</h2>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>title</th>
        <th>writer</th>
        <th>date</th>
        <th>hits</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardCreatedAt}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/board/paging(page=1)}">First</a>

    <a th:href="${boardList.first} ? '#' : @{/board/paging(page=${boardList.number})}">prev</a>

    <span th:each="page: ${#numbers.sequence(startPage, endPage)}">
            <span th:if="${page == boardList.number + 1}" th:text="${page}"></span>
            <span th:unless="${page == boardList.number + 1}">
                <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
            </span>
    </span>

    <a th:href="${boardList.last} ? '#' : @{/board/paging(page=${boardList.number + 2})}">next</a>

    <a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>
</div>
</body>
</html>